# jobs
*.sbatch
job-log/

# work tools
.vscode/
.obsidian/

# Virtual environment
venv/

# Data
# /data/raw/*
# !/data/raw/.gitkeep
# /data/processed/*
# !/data/processed/.gitkeep

# Output
# /results/plots/*
# !/results/plots/.gitkeep
# /results/tables/*
# !/results/tables/.gitkeep
/results/R_output/*

# Others
/old_code
/.quarto/

# Quarto cache
*_files/
*_cache/
