# jobs
*.sbatch
job-log/

# work tools
.vscode/
.obsidian/

# Virtual environment
venv/

# Data
/data/raw/disease_v1/*
/data/raw/disease_v2/*
/data/raw/yearly/*

/data/processed/initial/disease.csv
/data/processed/interim/disease_final_complete.csv
/data/processed/final/disease_final.csv

# Output
/results/R_output/*

# Others
/old_code
/.quarto/

# Quarto cache
*_files/
*_cache/
